
<style type="text/css">



    .slider {
        width: 90%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }

    .slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }
</style>

<div class="container">
<div class="row">
<section class="vertical-center-4 slider">
    <div>
        <img src="http://placehold.it/350x100?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=6">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=7">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=8">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=9">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=10">
    </div>
</section>
</div></div>
<div class="container">
<div class="row">
<section class="vertical-center-3 slider">
    <div>
        <img src="http://placehold.it/350x100?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=6">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=7">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=8">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=9">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=10">
    </div>
</section>
</div></div>
<div class="container">
    <div class="row">
<section class="vertical-center-2 slider">
    <div>
        <img src="http://placehold.it/350x100?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=6">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=7">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=8">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=9">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=10">
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="vertical-center slider">
    <div>
        <img src="http://placehold.it/350x100?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=6">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=7">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=8">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=9">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=10">
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="vertical slider">
    <div>
        <img src="http://placehold.it/350x100?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=6">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=7">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=8">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=9">
    </div>
    <div>
        <img src="http://placehold.it/350x100?text=10">
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="regular slider">
    <div>
        <img src="http://placehold.it/350x300?text=1">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=2">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=3">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=5">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=6">
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="center slider">
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/TeenProgram.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Freestyle Fridays</h4>
                <p class="card-text">Join us after school on Fridays to hang out with your friends and participate in activities like board games, ping pong, art, and karaoke! Each week features a different activity; come on by to check it out!
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/Crafts.png">
            <div class="card-body">
                <h4 class="card-title">Knitting Club</h4>
                <p class="card-text">Share patterns and techniques or just have a friendly chat while working on your knitting projects!
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="variable slider">
    <div>
        <img src="http://placehold.it/350x300?text=1">
    </div>
    <div>
        <img src="http://placehold.it/200x300?text=2">
    </div>
    <div>
        <img src="http://placehold.it/100x300?text=3">
    </div>
    <div>
        <img src="http://placehold.it/200x300?text=4">
    </div>
    <div>
        <img src="http://placehold.it/350x300?text=5">
    </div>
    <div>
        <img src="http://placehold.it/300x300?text=6">
    </div>
</section>
    </div></div>
<div class="container">
    <div class="row">
<section class="lazy slider" data-sizes="50vw">
    <div>
        <img data-lazy="http://placehold.it/350x300?text=1-350w" data-srcset="http://placehold.it/650x300?text=1-650w 650w, http://placehold.it/960x300?text=1-960w 960w" data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=2-350w" data-srcset="http://placehold.it/650x300?text=2-650w 650w, http://placehold.it/960x300?text=2-960w 960w" data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=3-350w"  data-srcset="http://placehold.it/650x300?text=3-650w 650w, http://placehold.it/960x300?text=3-960w 960w" data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=4-350w"  data-srcset="http://placehold.it/650x300?text=4-650w 650w, http://placehold.it/960x300?text=4-960w 960w" data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=5-350w"  data-srcset="http://placehold.it/650x300?text=5-650w 650w, http://placehold.it/960x300?text=5-960w 960w" data-sizes="100vw">
    </div>
    <div>
        <!-- this slide should inherit the sizes attr from the parent slider -->
        <img data-lazy="http://placehold.it/350x300?text=6-350w"  data-srcset="http://placehold.it/650x300?text=6-650w 650w, http://placehold.it/960x300?text=6-960w 960w">
    </div>
</section>
</div></div>





