<style type="text/css">



    .slider {
        width: 90%;
        margin: 100px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }

    .slick-active {
        opacity: .5;
    }

    .slick-current {
        opacity: 1;
    }
    .slick-prev{
   transform: rotate(-180deg) !important;
}

.slick-next{
   transform: rotate(360deg) !important;
}
</style>
<div class="container">
    <div class="row">
<section class="center slider">
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/TeenProgram.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Freestyle Fridays</h4>
                <p class="card-text">Join us after school on Fridays to hang out with your friends and participate in activities like board games, ping pong, art, and karaoke! Each week features a different activity; come on by to check it out!
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/Crafts.png">
            <div class="card-body">
                <h4 class="card-title">Knitting Club</h4>
                <p class="card-text">Share patterns and techniques or just have a friendly chat while working on your knitting projects!
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="https://image.queenslibrary.org/lamps/images/default/ProgramType/event_small/PictureBook.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Family Story Time</h4>
                <p class="card-text">Children and their families are invited to join us for songs, books, and parachute play. A parent or caregiver must be present.
                </p>
                <a class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</section>
    </div></div>