<div class="section">
<div class="container">

  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="widget">
        <h6 class="widget_title">About Us</h6>
        <p>
          Most Popular Routes: <br/>Daily City Tours
          New York, Philadelphia, Washington, Boston, Niagara Falls, Florida, California, Las Vegas, New Orleans tours from 3 to 6 days to Canada, tours to Alaska, US National Parks, Yellowstone, as well as a special series of complex tours of the Stars of the Atlantic in which you can combine group tours with individual wishes of tourists.

        </p>
      </div>
      <div class="widget">
        <h6 class="widget_title">Most Popular Tag</h6>
        <div class="tags">
          <a href="#">Atlantic Stars</a>
          <a href="#">Alaska</a>
          <a href="#">West Canada</a>
          <a href="#">California</a>
          <a href="#">Florida</a>
          <a href="#">Washington</a>
          <a href="#">New York</a>
          <a href="#">South Routs</a>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-6 col-sm-5">
      <div class="widget">
        <h6 class="widget_title">Useful Links</h6>
        <ul class="widget_links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Support center</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Life Style</a></li>
          <li><a href="#">Business</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-7">
      <div class="widget">
        <h6 class="widget_title">Recent Posts</h6>
        <ul class="widget_recent_post">
          <li>
            <div class="post_footer">
              <div class="post_img">
                <a href="#"><img class="rounded-circle" src="/sites/default/files/images/liliya1.jpeg" alt="letest_post1"></a>
              </div>
              <div class="post_content">
                <h6><a href="#">Which Is The Saying From Toil And Pain</a></h6>
                <p class="small m-0">April 14, 2018</p>
              </div>
            </div>
          </li>
          <li>
            <div class="post_footer">
              <div class="post_img">
                <a href="#"><img class="rounded-circle" src="/sites/default/files/images/liliya1.jpeg" alt="letest_post2"></a>
              </div>
              <div class="post_content">
                <h6><a href="#">Certain And Owing To The Claims Of Duty</a></h6>
                <p class="small m-0">April 14, 2018</p>
              </div>
            </div>
          </li>
          <li>
            <div class="post_footer">
              <div class="post_img">
                <a href="#"><img class="rounded-circle" src="/sites/default/files/images/liliya1.jpeg" alt="letest_post3"></a>
              </div>
              <div class="post_content">
                <h6><a href="#">These Matters To This Principle Of Selection</a></h6>
                <p class="small m-0">April 14, 2018</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="widget">
        <h6 class="widget_title">Contact Info</h6>
        <ul class="contact_info contact_info_light">
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <p>320 Brighton Beach ave, Brooklyn, NY 11235</p>
          </li>
          <li>
            <i class="fas fa-envelope-square"></i>
            <a href="mailto:info@sitename.com">newtoursusa@yahoo.com</a>
          </li>
          <li>
            <i class="fas fa-mobile-alt"></i>
            <p>+718 934 7644</p>
          </li>
        </ul>
      </div>
      <div class="widget">
        <ul class="widget_social social_icons rounded_social">
          <li><a href="https://www.facebook.com/new.tours.1" class="sc_facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/NEWTOURS" class="sc_twitter"><i class="fab fa-twitter"></i></a></li>
          <!--
          <li><a href="#" class="sc_gplus"><i class="fab fa-google-plus-square"></i></a></li>
          -->
          <li><a href="https://www.youtube.com/watch?v=bmDsNoN2NQw" class="sc_youtube"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/" class="sc_instagram"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/" class="sc_pinterest"><i class="fab fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row bottom-copyright">
    <div class="col-md-12">
      <div class="heading_s2 text-center">
        <h6>{{ '©'|raw }} {{ "now"|date('Y') }} All Right Reserved NewTours</h6>
      </div>
    </div>
  </div>
</div>
</div>
