<div id="top-image-block" class="top-image-block d-none  d-md-block position-relative text-center">
    <div class=" position-absolute d-none  d-sm-block" id="top-image-liberty">
        <img src="/sites/default/files/images/statue_liberty2.png"  width="100" height="160" border="0" alt="Russian Tour in USA and Canada, Туры по США"   />
    </div>
    <div class="position-relative  d-none  d-md-block" id="top-image-city">
        <img src="/sites/default/files/images/newyork.png" width="795" height="150" border="0" alt = "Russian Tour in USA and Canada, Туры по США"   />
    </div>
    <div class=" position-absolute d-none  d-xl-block" id="top-image-bus">
        <img src="/sites/default/files/images/bus2.png" width="250" height="150" border="0" alt = "Russian Tour in USA and Canada, Туры по США"   />
    </div>
</div>